<template>
    <div class="first-page">
        <HelloWorld :msg="msg"></HelloWorld>
    </div>
</template>
<script>
import HelloWorld from 'components/HelloWorld';
export default {
    data() {
        return {
            msg: 'first'
        }
    },
    components: {
        HelloWorld
    }
}
</script>