<template>
  <div>Welcome to the {{msg}} page</div>

</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: {
      type: String,
      required: true
    }
  },
  data () {
    return {}
  }
}
</script>