<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>my-project</title>
    <link rel="stylesheet" href="<%= slue.vars.all %>" />
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="<%= slue.vars.app %>"></script>
  </body>
</html>